.top-component {
  padding: 20px;
}

.top-component .title {
  margin-bottom: 20px;
}

.top-component .csc-conditions-root .condition {
  padding: 6px;
  padding-left: 12px;
  border: 1px black solid;
}

.top-component .csc-conditions-root .condition-operator {
  padding: 5px 0;
}

.top-component .csc-conditions-root .condition-expr:not(:last-child) > .condition-expr-value {
  border-bottom: 1px #ccc solid;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
